.advantages__triangle {
  width: 100%;
  height: 41px;
  // пока декоративную штуку оставлю так
  mask-image: url("../img/bg-intro-triangle-mobile.svg");
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
  margin-top: -1px;

  background-color: $accent-background;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--other-advantage {
    background-color: $other-advantage-background;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;

    &--other-advantage {
      @include none-margin-padding;

      width: 33.3%;
    }
  }
}

.advantages__feature-list {
  @include list-style;

  display: flex;
  flex-direction: column;
  margin-top: 17px;
  margin-right: 22px;
  margin-left: 22px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.advantages__feature-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8px;

  &--home-icon::before {
    display: block;
    content: " ";
    mask-image: url("../img/icon-house.svg");

    @include mask-icon;
    background-color: $accent-background;
    mask-size: contain;
    width: 65px;
    height: 55px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 71px;
      margin-top: -24px;
    }
  }

  &--gift-icon::before {
    display: block;
    content: " ";
    mask-image: url("../img/icon-gift.svg");

    @include mask-icon;
    background-color: $accent-background;
    mask-size: contain;
    width: 61px;
    height: 50px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 76px;
      margin-top: -28px;
    }
  }

  &--food-icon::before {
    content: " ";
    display: block;
    mask-image: url("../img/icon-burger.svg");

    @include mask-icon;
    background-color: $accent-background;
    mask-size: contain;
    width: 69px;
    height: 55px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 70px;
      margin-top: -22px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 33.3%;

    &--food-icon {
      order: 1;
    }

    &--gift-icon {
      order: 2;
    }
  }
}

.advantages__feature-wrapper {
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    @include none-margin-padding;

    text-align: center;
    margin-top: 10px;
    padding-right: 31px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 14%;
    padding-left: 14%;
  }
}

.advantages__feature-title {
  @include title-font;
  @include none-margin-padding;

  margin-top: 18px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include link-font;
    margin-bottom: 21px;
  }
}

.advantages__feature-description {
  @include advantages-content-font;
  @include none-margin-padding;
}

.advantages__description-wrapper {
  text-align: center;

  &--accent {
    color: $menu-font-color;
    background-color: $accent-background;
    padding-top: 39px;
    padding-bottom: 21px;

    @media (min-width: $tablet-width) {
      padding-top: 42px;
      padding-right: 32px;
      padding-left: 32px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 48px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 25%;

    &--n2 {
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 28%;
  }

  &--other-advantage {
    @include decorative-border;

    margin-right: 15px;
    margin-bottom: 11px;
    margin-left: 15px;
    padding-top: 25px;

    @media (min-width: $tablet-width) {
      @include none-margin-padding;

      border: none;
      margin-top: -6px;
      padding-top: 43px;
      padding-right: 39px;
      padding-bottom: 30px;
      padding-left: 40px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      padding-top: 47px;
      padding-bottom: 48px;
    }
  }
}

.advantages__title {
  @include title-font;
  @include none-margin-padding;

  @media (min-width: $tablet-width) {
    @include link-font;

    width: 150px;
    margin: 0 auto;
  }
}

.advantages__number,
.advantages__description {
  @include advantages-content-font;
}

.advantages__number {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.advantages__description {
  @media (min-width: $desktop-width) {
    margin-right: 23px;
    margin-left: 23px;
  }
}
