.search-hotels {
  margin-bottom: 49px;

  @media (max-width: $mobile-width-only) {
    margin-right: 16px;
    margin-left: 16px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.search-hotels__wrapper {
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.search-hotels__title {
  @include link-font;
  @include none-margin-padding;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.search-hotels__description {
  @include inner-intro-font;

  @media (min-width: $mobile-width-only) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

.search-hotels__link {
  @include link-font;

  display: inline-block;
  background-color: $accent-background;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: $menu-font-color;
  border: none;
  text-transform: uppercase;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
