.inner-page-intro {
  outline: green 1px solid;
}

.inner-page-intro__bg {
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: 50% 100%;
  background-size: 241% 244%;
  height: 158px;
  position: relative;
  &::after {
    content: "";
    width: 320px;
    height: 27px;
    background-image: url('../img/bg-intro-triangle-mobile.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
  }
}

.inner-page-intro__bg-text {
  background-image: url('../img/text-sedona.svg');
  background-position: 50% 44%;
  background-size: 230px;
  background-repeat: no-repeat;
  height: 100%;
}

.inner-page-intro__title {
  @include title-font;
}

.inner-page-intro__description {
  @include inner-intro-font;
}

.inner-page-intro__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 17px;
  margin-right: 18px;
  position: relative;
}
