.page-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}

.socials {
  @include flex-column;

  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.socials__hashtag {
  @include link-font;

  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    @include none-margin-padding;
  }

  @media (min-width: $desktop-width) {
    margin-right: 32px;
  }
}

.socials__list {
  @include list-style;

  display: flex;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.socials__item {
  width: 48px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-background;
  margin-right: 4px;

  &:hover {
    background-color: $hover-background;
  }

  &:active {
    background-color: $active-background;
  }

  &:focus {
    outline: 1px solid black;
  }
}

.socials__link {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 24px;
  padding-left: 24px;

  &:active {
    opacity: $font-active-opacity;
  }
}

.twitter-icon {
  mask-image: url("../img/icon-twitter.svg");
  background-color: white;

  @include mask-icon;
}

.facebook-icon {
  mask-image: url("../img/icon-facebook.svg");
  background-color: white;

  @include mask-icon;
}

.youtube-icon {
  mask-image: url("../img/icon-youtube.svg");
  background-color: white;

  @include mask-icon;
}

.socials__link-dev {
  @include main-intro-font;

  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}

.socials__link-text {
  margin-left: 5px;
}

.socials__academy-icon {
  display: block;
  width: 44px;
  height: 44px;
  mask-image: url("../img/htmlacademy.svg");
  background-color: $basic-black;

  @include mask-icon;

  &:hover {
    background-color: $accent-background;
  }

  &:active {
    background-color: $basic-black;
    opacity: $active-item-opacity;
  }
}
