.socials__hashtag {
  @include link-font;
}

.socials__list {
  @include list-style;
}

.socials__item {
  width: 48px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-background;
  &:hover {
    background-color: $hover-background;
  }
  &:active {
    background-color: $active-background;
  }
}

.socials__link {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 24px;
  padding-left: 24px;
  &:active {
    opacity: $font-active-opacity;
  }
}

.twitter-icon {
  mask-image: url('../img/icon-twitter.svg');
  @include mask-icon;
  background-color: white;
}

.facebook-icon {
  mask-image: url('../img/icon-facebook.svg');
  @include mask-icon;
  background-color: white;
}

.youtube-icon {
  mask-image: url('../img/icon-youtube.svg');
  @include mask-icon;
  background-color: white;
}

.socials__link-dev {
  @include main-intro-font;
}

.socials__academy-icon {
  display: block;
  width: 44px;
  height: 44px;
  mask-image: url('../img/htmlacademy.svg');
  @include mask-icon;
  background-color: $basic-black;
  &:hover {
    background-color: $accent-background;
  }
  &:active {
    background-color: $basic-black;
    opacity: $active-item-opacity;
  }
}
