@charset 'utf-8';
@import 'normalize.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'blocks/page-body.scss';

@font-face {
  font-family: 'PT-sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT-sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// repeat block
@import 'blocks/page-header.scss';
@import 'blocks/page-footer.scss';

// content index
@import 'blocks/page-intro.scss';
