//font-styleguide
$menu-font-color: #FFFFFF;
$content-font-color: #000000;
$font-hover: #81B3D2;
$font-active-opacity: 0.3;

//background
$basic-background: #FFFFFF;
$accent-background: #81B3D2;
$hidden-advantage-background: #EEEEEE;

