//color
$menu-font-color: #ffffff;
$content-font-color: #000000;
$font-menu-hover: #81b3d2;
$font-active-opacity: 0.3;
$active-link: #766357;
$active-link-hover: #604e43;
$decorative-line: #d6d6d6;

//family
$basic-font: "PT-sans", "Arial", "sans-serif";

//background
$basic-black: #000000;
$basic-background: #ffffff;
$accent-background: #81b3d2;
$other-advantage-background: #eeeeee;
$hover-background: #669ec0;
$active-background: #5496bd;
$disabled-background: #e5e5e5;
$photogallery-background: #eaeaea;

//form color
$basic-form: #f2f2f2;
$hover-form: #e5e5e5;
$active-input: 4px solid #e5e5e5;
$active-item-opacity: 0.3;

//Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
